@import url("https://fonts.googleapis.com/css?family=Baloo");
@import url("https://fonts.googleapis.com/css?family=Roboto+Slab:400,700");
@import url("https://fonts.googleapis.com/css?family=Open+Sans:400,700");
/* Custom Bootstrap SASS */
/* #2E2B2B */
/* #F5EDED */
.text-brand-offwhite {
  color: #f5eded; }

.text-brand-info-lighter {
  color: white; }

.text-brand-success {
  color: #13bc96; }

.px {
  padding-left: 15px;
  padding-right: 15px; }

/* BUTTONS */
.container.main {
  margin-top: 80px;
  margin-left: 0;
  margin-right: 0; }

.navbar a {
  font-family: "Roboto Slab", serif; }

.navbar button {
  margin: 26px 0px 7px 0px; }

.label {
  font-family: "Open Sans", sans-serif;
  text-transform: capitalize; }

h2 a.page-anchor {
  padding-top: 80px; }
