@import "scss/sicvariables";
@import "bootstrap";

// Stairing is Caring
// FORM STYLES

.sic-form{
margin-top: 32px auto;
padding-bottom: 15px;
  select {border-radius: $border-radius-large;}
}

span.help-block.form-error {
  font-size: 11px;
}

//Sign-in form
.sign-in {}

//Sign-up form
.sign-up {
 #profile-pic {
   border: 1px solid $brand-success;
   border-radius: $border-radius-base;
   max-width: 80%;}
 button.btn-default {margin-top: 15px;}
 p {text-align: left;}

}
a.new-company, a.new-climber, a.new-location {
  display: block;
  margin: 7px 0 13px 11px;
  cursor: pointer;
}
.logo-upload {
  margin-top: 11px;
}
#new-company-group, #new-teammate-form-group, #new-location-form-group {
  display: none;
}
#company-logo-upload{
  width: 125px;
  height: 60px;
  text-align: center;
  padding-top: 20px;
  font-style: italic;
  color: $gray-light;
  border: 1px solid $brand-info;
  background-color: #FFF;
}

//Pledge No API
.pledge-no-api {
  textarea {
    min-width: 100%;
    max-width: 100%;
    min-height: 107px;
    max-height: 107px;
    resize: none;
  }
  .help-block {text-align: left;
  span {color:$gray-base;}}
  button {margin-top:12px;}
}

.pledge-no-api-confirm {
  p {margin-top: 35px;
  color:$gray-base;}
}

//Event Request
.event-request {
 .dropdown {

   span {color: $gray;}
   span.caret {color:$brand-success;}
   li {cursor: pointer;}
   li:hover {background: $brand-success;}
   .dropdown-menu{
     border-radius: 0;
     li {margin-left: 5px;}
   }
 }
}

//Create Team
.create-team {
 img {
   border: 1px solid $brand-success;
   border-radius: $border-radius-base;
   max-width: 80%;
 }
 textarea {
   min-width: 100%;
   max-width: 100%;
   min-height: 107px;
   max-height: 107px;
   resize: none;
 }
 .help-block {text-align: left;}
 button {margin-top:12px;}
}
