@import "sicvariables";
@import "bootstrap";
// Stairing is Caring
// HOME STYLES

//Mascot
img.mascot-ask {
    max-height: 108px;
    transform: scaleX(-1);
    float: right;
    right: 1em;
}
//Full Width Panel -- these are not Bootstrap panels
.fw-panel.home {
    background-image: url("../img/SiC-Stairwell-Pic1.png");
    background-size: cover;
    padding: 28px 28px 11px;
}

.cta-panel {
    border-radius: $border-radius-large;
    padding: 15px;
    min-height: 222px;

    h1,
    h3 {
        color: $brand-offwhite;
    }

    h1 {
        font-size: 5.5vw;
    }
}

.cta-panel.brand-primary {
    background-color: rgba($brand-primary, .62);
}

.cta-panel.brand-success {
    background-color: rgba($brand-success, .62);
}

.cta-panel.brand-info {
    background-color: rgba($brand-info, .62);
}
@media (max-width: $screen-sm) {
    .cta-panel h1 {
        font-size: $font-size-h1;
    }
}

//Event cards
.event-card {
    //min-height: 396px;
    border-bottom-right-radius: $border-radius-base;
    border-bottom-left-radius: $border-radius-base;
    background-color: $brand-offwhite;
    box-shadow: 1px 1px 4px 2px $gray-light;
    padding: 0;
    margin-bottom: 17px;
}

.event-card img {
    width: 100%;
}

.event-card-content {
    padding: 7px;
    text-align: center;
}

a.h3 {
    color: $brand-success;
    cursor: pointer;
    margin-bottom: 15px;
    display: block;
}

a:hover {
    color: $brand-info;
    text-decoration: none;
}

// Thermometer component
.thermometer {
    position: relative;
    height: 22px;
    div {
        height: 100%;
        position: absolute;
        top: 0;
        left: 0;
        border-radius: $border-radius-base;
    }
}
.thermo-border {
    border: 1px solid $gray-light;
    box-shadow: inset 0 1px 3px 0 rgba(0,0,0, .5);
    z-index: 100;
    width: 100%;
}
.thermo-fill {
    background-color: $brand-success;
    z-index: 90;
}
.thermo-bg {
    background-color: #FFF;
    width: 100%;
}
.thermo-val {
    margin-top: 7px;
    text-align: center;
}
.event-card .thermometer{
  margin: 0 17px;
}

// Heart Rule
hr.heart {
    border-top: 1px solid $brand-primary;
    margin: 15px -15px 0;
    text-align: center;
}
hr.heart-no-bg {
    border-top: 1px solid $brand-primary;
    margin: 0px -15px -10px -15px;
    text-align: center;
}
hr.heart:after, hr.heart-no-bg:after {
    content: url("../img/icon/heart.svg");
    display: inline-block;
    position: relative;
    top: -14px;
    background: transparent;
}
// What is Stairing is Caring panel
.what-is {
    padding: 30px 0;
    h2 {font-size: 3vw;}
    h2.text-primary {margin-top: 0px;}
    .row {margin-bottom: 30px;}
}

.video {}
// Herring Background

.herring {
    background-image: url("../img/herring-stairs-pattern.png");
}
// Recent Activity panel
.recent-activity-panel {
    border: 1px solid lighten($brand-success, 40%);
    background-color: lighten($brand-success, 50%);

    h3 {
        margin: 7px;
    }
}
.recent-activity {
    background: white;
    padding: 7px;
    margin-bottom: 2px;

    a {
        margin: 0;
    }

    h6,
    p {
        margin-left: 47px;
        font-size: $font-size-small;
        padding-right: 15px;
    }

}

.avatar-small {
    height: 40px;
    width: 40px;
    margin-right: 7px;
}
// Top lists panel
.top-lists-panel {
    padding-bottom: 30px;

    .top-list {
        padding-bottom: 7px;
        background-color: #FFF;
        border: 1px solid $gray-light;
        border-radius: $border-radius-small;
        box-shadow: 1px 1px 2px 1px lighten($gray-light, 15%);

        h3 {
            text-align: center;
        }
        ol { padding-left: 30px; }
        a {
            font-size: $font-size-small;
            color: $brand-success;
        }
        a:hover {
            text-decoration: underline;
        }
    }
    .photo {
      li {
          margin-bottom: 32px;

          h3 {
              text-align: left;
              margin-top: 2px;
          }
      }
    }
    .thermo {
      li {
          margin-bottom: 0px;

          h3 {
              margin-top: 2px;
          }
      }
      .thermometer {
          margin-left: 0;
          margin-right: 17px;
      }

      .thermo-val {
          margin-right: 17px;
      }
    }
}
// Big quote panel
.big-quote-panel {
  background-image: url("../img/SiC-Stairwell-Pic1.png");
  padding: 30px 60px;
    h2 {
      color: $brand-primary;
      line-height: ($headings-line-height * 1.32);
    }
    h3 {text-align: right;}
}
// Big CTA panel
.big-cta-panel {}
// Site Footer panel
.site-footer-panel {
    background-color: $brand-info;
    padding: 30px 15px;
    box-shadow: 0px 5px 10px 5px rgba(0,0,0,.8);
    ul li {list-style: none; color: #FFF;}
    h3 {color: $gray-base; font-weight: bold; font-size: $font-size-small;}
    a {color: #FFF; cursor: pointer;}
    a:hover {text-decoration: underline;}
}

// Pre-footer
.pre-footer{
  padding-top: 27px;
  margin-bottom: 15px;
}
