@import "sicvariables";
@import "bootstrap";
// Stairing is Caring
// LEARN STYLES
.learn{padding: 30px 0;}
.learn-list {
  list-style: none;
  line-height: 1.68em;
  li { padding-left: 1.3em;}
  li:before {
    content: "\f02e";
    color: $brand-primary;
    font-family: FontAwesome;
    display: inline-block;
    margin-left: -1.3em;
    width: 1.3em;
  }
}
.learn-list ul {
  list-style: none;
  li {margin-left: -2.8em;}
  li:before {content:none;}
}
h4.text-capitalize {color: $gray-base;}
.list-indent {padding-left: 39px;}

.denominator {border-top: 1px solid $gray;}
